{% extends 'base.html' %}
{% block content %}
<div style="display: flex; background-color: #e0effa; padding: 0;">
  <!-- Left Blue Panel -->
  <div style="width: 35%; padding: 60px; background-color: #cde0f0;">
    <h1>Seamless interaction with<br> robots using intuitive controls.</h1>
  </div>

  <!-- Right Section -->
  <div style="width: 65%; display: flex; flex-direction: column; padding: 40px; gap: 40px;">

    <!-- First Card: Voice Control -->
    <div style="display: flex; gap: 30px; align-items: center;">
      <a href="/voice">
        <img src="{{ url_for('static', filename='voice.jpeg') }}" alt="Voice Control" width="350">
      </a>
      <div>
        <h2>Voice Control</h2>
        <p> Hands-free robot control through natural voice commands</p>
      </div>
    </div>

    <!-- Second Card: Gesture Control -->
    <div style="display: flex; gap: 30px; align-items: center;">
      <div>
        <h2>Gesture Control</h2>
        <p>Control robots with simple hand gestures using real time motion tracking - no buttons, no wires.</p>
      </div>
      <a href="/gesture">
 <img src="{{ url_for('static', filename='gesture.jpeg') }}" alt="Gesture Control" width="350">
      </a>
    </div>

{% endblock %}
