{% extends 'base.html' %}
{% block content %}
  <p>About Page</p>
  <h2>Welcome to "YASKAWA INDIA"</h2>
  <P>YASKAWA journey in India began with the business of PLC in1980 and AC drives in 1990 and</P>
  <p>steadily expanded to accommodate growing customer needs. Today, our operations span the </p>
  <p>length and breadth of the country, and India remains a central hub for our future goals, </p>
  <p>which is headed by dynamic team.</p>
      <img class src="{{ url_for('static', filename='welcome.jpeg') }}" alt="Robots" style="margin-right: 100px; width: 100%;"> 
{% endblock %} 
